<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-ukRq54xFB4K9OOrqrsPUGNTdOfak5bU</string>
	<key>GCM_SENDER_ID</key>
	<string>715528812703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexgayer</string>
	<key>PROJECT_ID</key>
	<string>feito-607d0</string>
	<key>STORAGE_BUCKET</key>
	<string>feito-607d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715528812703:ios:13119a7f7aa3fcb4ea0aaa</string>
</dict>
</plist>